.gradiant-bg{
    background: linear-gradient(to right,#7983FF,#cd17ff);
    padding-top: 50px;
}
.bg-gray{
    background-color: rgb(240, 236, 236);
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    padding: 20px;
}
.Logo{
    margin: 15px 0 50px 0;
}
.Logo img{
    width: 250px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;

}
.link p{
    font-size: 14px;
    color: #cd17ff;
    font-weight: 500;
}
.link a{
    font-size: 14px;
    color: #7983FF;
    text-decoration: none;
    font-weight: 500;
}

.forgot-pass{
    text-align: right;
    color: #cd17ff;
    margin-bottom: 50px;
    text-decoration: none;
}