.navigation{
    width: 100%;
    background-color: #fff;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    z-index: 1000;
}
nav{
    width: 90%;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 62px;
    height: 62px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
nav ul li.active{
    background-color: #7983FF;
}
