.information{
    width: 100%;
}
.info-litems{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
}
.user-info{
    width: 75%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
    width: 100%;
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.profile > div{
    margin-left: 15px;
}
.level{
    background-color: #DEE0FF;
    display: flex;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 10px 0;
    justify-content: space-between;
    overflow-x: hidden;
}
.level p{
    padding: 3px 5px;
}
.level span{
    background-color: #7983FF;
    padding: 3px 5px;
    color: #fff;
}
.number{
    width: 20%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #fff;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.number img{
    width: 20px;
}
.statistics{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.statistics div{
    display: flex;
    flex-direction: column;
}
.statistics div>span{
    display: block;
    margin: 5px 0;
    font-size: 14px;
}
.number ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.number li{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid #7983FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.number li span{
    position: absolute;
    bottom: -20px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.number ul li:nth-child(2){
    margin: 30px 0;
}
.conection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.conection span{
    width: 13px;
    height: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #DEE0FF;
}