.parent-message{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(31, 30, 30, 0.358);
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert{
    width: 90%;
    height: 300px;
    background-color: #F7F8FF;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.alert h1{
    font-size: 16px;
    color: #252525;
}
.message{
    color: #803d3e;
    background-color: #977373;
}
.alert button{
    background-color: 252525;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #ffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
}